/* Suisse Int'l Font Faces */
@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Regular.woff2') format('woff2'),
       url('/fonts/SuisseIntl-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Medium.woff2') format('woff2'),
       url('/fonts/SuisseIntl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-SemiBold.woff2') format('woff2'),
       url('/fonts/SuisseIntl-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Bold.woff2') format('woff2'),
       url('/fonts/SuisseIntl-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
